

.user-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-photo{
  border-radius: 50%;
}
.user-name{
  text-align: center;
}
.user-video{
 width: 20%;
}