

.user-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-photo{
  border-radius: 50%;
}
.user-name{
  text-align: center;
}
.user-videos-cont{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.user-videos-cont > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-video{
  width: 100%;
  max-height: 15rem;
}

@media (min-width: 600px){
  .user-videos-cont{
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }
}
