
.user-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-photo{
  border-radius: 50%;
}
.user-name{
  text-align: center;
}
.user-videos-cont{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.user-videos-cont > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-video{
  width: 100%;
  max-height: 15rem;
  border-radius: 15px;
}
.user-video-outer{
  position: relative;
  max-height: 15rem;
  margin: 0.4rem;
}
.videoCheckbox{
  position: absolute;
  top: 1%;
  left: 1%;
}
.edit-mode{
  border: grey solid 2px;
}
.highlight{
  border: rgb(29, 118, 219) solid 2px;
}

@media (min-width: 930px){
  .user-videos-cont{
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }
  .user-video{
    width: 100%;
    height: 30rem;
    border-radius: 15px;
  }
}
