


.video{
  position: relative;
  width: 90%;
  height: 80%;
  scroll-snap-align: start;
  border-radius: 25px;
}
.uploader-info{
  position: absolute;
  bottom:5%;
  left:1%;
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
.uploader-name{
  font-weight: 600;
  font-size: 1.2rem;
}
.uploader-description{
  font-size: 1rem;
}
.like{
  width: 400px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
.is-liked{
  color: red;
}