
.feed-container{
  background-color: black;
}
.video{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.video-player{
  border-radius: 15px;
  width: 100%;
}
.uploader-info{
  position: absolute;
  bottom:12%;
  left:1%;
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
.uploader-name{
  font-weight: 600;
  font-size: 1.2rem;
}
.uploader-description{
  font-size: 1rem;
}
.like{
  width: 400px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
.is-liked{
  color: red;
}