
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.categories-container{
  display: grid;
  grid-template-columns: auto auto;
}

.category{
 margin: 0.5rem;
 padding: 0.8rem;
 background-color: red;
 border-radius: 15px;
 text-align: center;
 color: #fff;
}
